<?xml version="1.0"?>
<launch>
  <arg name="racecar_xacro" default="$(find-pkg-share f1tenth_simulator)/racecar.xacro"/>

  <node pkg="robot_state_publisher" exec="robot_state_publisher" name="robot_state_publisher" output="screen">
    <param name="robot_description" value="$(command 'xacro $(var racecar_xacro)')"/>
  </node>

</launch>
